<div class="wrapper">
    <h2>User Likes and Dislikes</h2>

    <table>
        <tr>
            <th></th>
            <% @users.each do |user| %>
                <th><%= user.name %></th>
            <% end %>
        </tr>
        <% @products.each do |product| %>
            <tr>
                <td><strong><%= product.name %></strong></td>
                <% @users.each do |user| %>
                    <% if user.likes(product) %>
                        <td style="color:green">Likes</td>
                    <% elsif user.dislikes(product) %>
                        <td style="color:red">Dislikes</td>
                    <% else %>
                        <td></td>
                    <% end %>
                <% end %>
            </tr>
        <% end %>
    </table>


    <h2>User Similarity Indexes</h2>

    <table>
        <tr>
            <th></th>
            <% @users.each do |user| %>
                <th><%= user.name %></th>
            <% end %>
        </tr>
        <% @users.each do |user| %>
            <tr>
                <td><strong><%= user.name %></strong></td>
                <% @users.each do |compared_user| %>
                    <td><%= user.similarity_index_for(compared_user).round(4) %></td>
                <% end %>
            </tr>
        <% end %>
    </table>


    <h2>User Product Likeability Indexes</h2>

    <table>
        <tr>
            <th></th>
            <% @users.each do |user| %>
                <th><%= user.name %></th>
            <% end %>
        </tr>
        <% @products.each do |product| %>
            <tr>
                <td><strong><%= product.name %></strong></td>
                <% @users.each do |user| %>
                    <td><%= user.estimated_likability_for(product).round(4) %></td>
                <% end %>
            </tr>
        <% end %>
    </table>


    <h2>User Recommendations</h2>

    <div class="blocks blocks_3up">
        <% @users.each do |user| %>
            <div>
                <h3><%= user.name %></h3>
                <div>
                    <strong>Recommendations</strong>
                    <ul>
                        <% user.recommendations.each do |rec| %>
                            <li><%= rec[:name] %> (<%= rec[:index].round(4) %>)</li>
                        <% end %>
                    </ul>
                </div>
            </div>
        <% end %>
    </div>
</div>
